@charset "UTF-8";

body{
    background-color: #fffeef;
}

h1,h2,p,a{
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: #4A4633;
    text-decoration: underline;
}
    
h2{
    color: #BFBE9C;
}

p{
    text-align: justify;
    color: #802922;
}

a{
    color: #802922;
    font-weight: bold;
}