@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

body {
    background-image: linear-gradient(to top, #f8ddc5,#F2E8DC);
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d9965b4a;
}

h1 {
    color: #593515;
    text-align: center;
    text-shadow: 1px 1px 2px #462a1075;
    text-decoration: underline;
}

h2 {
    color: #8C783A;
    text-decoration: underline;
}

p {
    text-align: justify;
}